:root{
  --bgLight: #ECF2FF;
  --bgDark:#303238;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container--dark{
  background-color: var(--bgDark);
  color: var(--bgLight);
}
.form{
  min-width: 300px;
  width: 25%;
  max-width: 90%;
}
.input-wrapper{
  display: flex;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
}
.input-wrapper input{
outline: none;
border: none;
width: calc(100% - 45px);
font-size: 1rem;
padding:8px;
}
.input-icon{
  min-width: 45px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.input-icon img{
  max-width: 25px;
}
.form-heading{
  text-align: center;
}
.input-msgs{
  color: red;
}
.input-wrapper--captcha{
  display: flex;
  flex-direction: row-reverse;
}
.captcha{
  padding-top: 10px;
}
.captcha-box{
  margin-bottom: 10px;
  letter-spacing: 4px;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  border: 1px solid grey;
  padding: 10px 15px;
  background-color: bisque;
}
.btn{
  width: 100%;
  margin: 15px 0px;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(0, 71, 186);
  color: white;
  border: none;
}
.container--green .form{
  background-color: rgba(19, 128, 0, 0.452);
  padding: 15px;
}
.btn--switch{
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  background-color: var(--bgDark);
  color: white;
}
.container--dark .form .btn--switch{
  background-color: white;
  color: black;
}
.captcha-box{
  color: black;
}